@import url("https://fonts.googleapis.com/css2?family=Bungee&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
:root {
  --color-primary: #F981F5;
  --color-primary-alt: #cc00ff;
  --color-secondary: #37E9E9;
  --color-background: #221D2D;
  --color-text: #bc4db8;
  --color-light: #fff;
  --color-anchor: #F981F5;
  --font-family-primary: "Bungee", sans-serif;
  --font-family-secondary: $secondary-font;
  --font-weight-strong: 500;
  --font-size-h1: 6rem;
  --font-size-h2: 1.5rem;
  --font-size-h3: 2rem;
  --font-size-h4: 1.35rem;
  --font-size-text: 1.15rem;
  --border-radius: 8px;
}

/*
 * [Modified] Modern CSS Reset
 * @link https://github.com/hankchizljaw/modern-css-reset
*/
/* Box sizing rules */
/* Remove default margin and padding*/
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  overflow-x: hidden;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  font-size: 100%;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  overflow-x: hidden;
}

/* Make images easier to work with */
img {
  display: block;
  max-width: 100%;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
h1,
h2,
h3,
h4 {
  font-weight: var(--font-weight-strong);
  line-height: 1;
  margin-bottom: 0.65em;
  font-family: "Bungee", sans-serif;
  color: #F981F5;
}

h1 {
  font-size: var(--font-size-h1);
  font-size: clamp(2rem, 7vw, var(--font-size-h1));
}

h2 {
  font-size: var(--font-size-h2);
  font-size: clamp(2rem, 4vw, var(--font-size-h2));
  text-align: center;
}

header h2 {
  font-family: "IBM Plex Mono", monospace;
  color: #37E9E9;
}

#main h2 {
  text-align: left;
  align-self: center;
  padding: 0.25em 0.5em;
}

h3 {
  font-size: var(--font-size-h3);
}

h4 {
  font-size: var(--font-size-h4);
}

p,
li {
  font-size: var(--font-size-text);
}

p {
  margin: 0 0 1rem;
  font-family: "IBM Plex Mono", monospace;
}

article .container > ul:not(.features) > li + li,
article .container > ol > li + li {
  margin-top: 1rem;
}
article .container * + h2 {
  margin-top: 4rem;
}
article .container * + h3 {
  margin-top: 2rem;
}

strong {
  font-weight: var(--font-weight-strong);
}

a {
  color: #37E9E9;
}

blockquote {
  position: relative;
  display: grid;
  grid-template-areas: "blockquote";
  place-items: center;
  padding: 0;
  margin: 3rem 0;
}
blockquote > * {
  grid-area: blockquote;
}
blockquote p {
  position: relative;
  font-size: var(--font-size-h4);
  margin-bottom: 0;
  padding: 0.5em;
}
blockquote p strong {
  font-size: 1.15em;
  font-family: "Bungee", sans-serif;
  color: #F981F5;
}
blockquote::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 4px solid var(--color-primary);
  box-shadow: 0.25em 0.25em var(--color-secondary);
  transform: scale(1.1);
  content: "";
}
blockquote::after {
  grid-area: blockquote;
  color: #6f6ffd;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 199.1 111.3'%3E%3Cpath fill='%23cc00ff' d='M118 77a77 77 0 00-2-18c-2-4-3-9-3-13a29 29 0 011-12 19 19 0 017-9c4-3 8-4 13-3a14 14 0 018 7 31 31 0 012 5 75 75 0 005 10 47 47 0 002 5 17 17 0 003 3c4 4 8 4 13 0a15 15 0 005-8 37 37 0 001-7l1-11a18 18 0 014-11 2 2 0 000-3l-3-3-2-3a2 2 0 011-2 11 11 0 012-1l19-3c4 0 5 1 3 5l-7 16c-1 3-2 3-5 1l-4-5a1 1 0 00-1 0 9 9 0 00-3 5 23 23 0 00-1 6l-1 11a26 26 0 01-1 7 18 18 0 01-8 10c-5 3-9 3-13 0a20 20 0 01-6-6 68 68 0 01-6-13l-2-4a18 18 0 00-2-4 10 10 0 00-14-2 15 15 0 00-4 4 19 19 0 00-3 9 32 32 0 000 11l2 6a78 78 0 012 27 32 32 0 01-4 15 24 24 0 01-11 9 33 33 0 01-19 3 16 16 0 01-13-9 29 29 0 01-3-11 70 70 0 012-18l2-14a33 33 0 000-14c-1-4-4-7-8-7-7-1-14 1-19 6a34 34 0 00-6 9 59 59 0 00-4 10l-3 12-2 6a26 26 0 01-5 8 17 17 0 01-16 6 26 26 0 01-10-4 7 7 0 01-2-1 2 2 0 010-2 2 2 0 012 0l3 1a22 22 0 0010 3 13 13 0 009-4 22 22 0 005-6 41 41 0 003-8l3-12a59 59 0 015-13 31 31 0 017-9c6-5 14-7 22-5a12 12 0 019 7 21 21 0 011 7 57 57 0 01-2 17 132 132 0 00-2 16 37 37 0 000 13 27 27 0 002 5 13 13 0 0011 8 30 30 0 0016-3 22 22 0 0010-10c3-4 3-9 4-13v-5z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  place-self: end;
  content: "Ooh, scale()!";
  background-size: 90%;
  width: 10ch;
  padding-top: 3.25em;
  transform: translate(25%, 50%) rotate(-5deg);
  transform-origin: bottom right;
}
@media (max-width: 60rem) {
  blockquote::after {
    transform: translate(25%, 55%) rotate(-5deg);
  }
}

#guidelines p:nth-of-type(1),
#contribute p:nth-of-type(1) {
  font-size: var(--font-size-h4);
  font-weight: var(--font-weight-strong);
}

.container ul li {
  font-family: "Bungee", sans-serif;
}

.container ol li {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 600;
}

body {
  background-color: #221D2D;
  color: white;
}

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

main div, aside div, footer div {
  margin: 1rem;
}
main div *, aside div *, footer div * {
  grid-column: 1/-1;
}
main div article, aside div article, footer div article {
  margin: 1rem 0;
}

header {
  padding: 1rem;
}
header div {
  text-align: center;
}
header div h1 {
  grid-column: 1/-1;
}
header div h2 {
  grid-column: 1/-1;
}
header div p {
  grid-column: 1/-1;
  text-align: center;
}
header div a {
  grid-column: 4/-4;
}
@media screen and (min-width: 768px) {
  header div a {
    grid-column: 5/-5;
  }
}

nav {
  padding: 1rem;
}
nav ul {
  display: flex;
  flex-wrap: wrap;
}
nav ul li {
  list-style: none;
  width: 33%;
  text-align: center;
  font-family: "Bungee", sans-serif;
}
@media screen and (min-width: 768px) {
  nav ul li {
    width: 16%;
  }
}
nav ul li a {
  color: white;
  text-decoration: #37E9E9 wavy underline;
  text-underline-offset: 10px;
  text-decoration-thickness: 3px;
}

#about section ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-decoration: none;
}
#about section ul li {
  padding: 0.5rem 1rem;
  margin: 1rem;
  background-color: white;
  color: black;
}

#guidelines section a {
  grid-column: 4/-4;
}

#contribute section ol {
  list-style-position: inside;
}
#contribute footer div a {
  grid-column: 4/-4;
  margin: 1rem;
}

.features {
  list-style: none;
}
@media screen and (min-width: 768px) {
  .features {
    display: flex;
  }
  .features li {
    width: 33%;
  }
}
.features li {
  padding: 2rem;
  border: 5px solid #37E9E9;
  margin: 1rem;
}

#styles div a {
  grid-column: 4/-4;
}

.profile div ul {
  list-style: none;
}

.page-footer div ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .page-footer div ul {
    flex-direction: row;
    justify-content: center;
  }
}
.page-footer div ul li {
  margin: 1rem;
}

.skip-link {
  position: absolute;
  top: auto;
  left: -10000px;
  width: 1px;
  height: 1px;
  background-color: var(--color-secondary);
  color: #fff;
  font-size: 1.125rem;
  overflow: hidden;
}
.skip-link:focus {
  position: fixed;
  top: 0;
  left: 0;
  width: auto;
  height: auto;
  padding: 0.5em;
}

[class^=link] {
  min-height: 3em;
  color: #fff;
  border: solid 5px #F981F5;
}

[class^=link] {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 0.75em;
  transform: translate(0, 0);
  transition: 180ms all ease-in-out;
  font-size: 1.125rem;
  line-height: 1;
  text-align: center;
  text-decoration: none;
}
[class^=link]:hover, [class^=link]:focus {
  transform: translate(-0.15em, -0.15em);
  box-shadow: 0.3em 0.3em var(--color-secondary);
}
[class^=link]:focus {
  outline-color: transparent;
  outline-style: solid;
}

.profile .container > a {
  color: white;
}

.link-github svg {
  width: 1em;
  height: 1em;
  margin-right: 0.25em;
  fill: currentColor;
}

.link-guidelines, .link-github, .link-downloadcss, .link-codepen, .link-downloadhtml {
  font-family: "Bungee", sans-serif;
}
