header {
    padding: 1rem;
    div{
        text-align: center;
        h1 {
            grid-column: 1/-1;
        }
        h2 {
            grid-column: 1/-1;
        }
        p {
            grid-column: 1/-1;
            text-align: center;
        }
        a {
            grid-column: 4/-4;
            @media screen and (min-width: 768px) {
                grid-column: 5/-5;
            }
        }
    }
}
