nav {
    padding: 1rem;
    ul {
        display: flex;
        flex-wrap: wrap;
        li {
            list-style: none;
            width: 33%;
            text-align: center;
            font-family: $primary-font;
            @media screen and (min-width: 768px) {
                width: 16%;
            }
            a {
                color: #F4A8CA;
                //text-decoration: $color-secondary underline wavy;
                text-decoration: $color-secondary wavy underline;
                text-underline-offset: 10px;
                text-decoration-thickness: 3px;
            }
        }
    }
}
